<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Dee Rathod</title>
  </head>
  <body>
    <!-- <h1>I'm Dee</h1> -->
    <div class="container">
      <h2>{{message}}</h2>
      <img src="https://picsum.photos/400" alt="random-photo" />
      <p>
        I'm originally from India, but I've lived and worked abroad for the past
        ten years.
      </p>
      <p>
        I have a strong background in graphic design and typography, as well as
        a keen interest in art and creativity.
      </p>
      <p>
        I'm a freelance graphic designer and aspiring artist. I've worked on
        various projects, including websites, logos, and brochures.
      </p>
    </div>
  </body>
</html>
