{% extends "header.html" %}
{% block title %} Login {% endblock %}
{% block content %}

        <div class="container">
		<h1>Login</h1>
        <!-- This is where our form will go. -->
		<form method="POST" action="{{ url_for('login') }}" novalidate>
			{{ form.hidden_tag() }}
			{{ form.name.label }} 
			<br>
			{{ form.name(size=30) }}
			
			{% for error in form.errors.name %}
				<span style="color: rgb(221, 50, 50)"> --> {{ error }}</span>
			{% endfor %}
			<br>

			{{ form.email.label }} 
			<!-- {{ form.email.description}} -->
			<br>
			{{ form.email(size=30) }}
			
			{% for error in form.errors.email %}
				<span style="color: rgb(221, 50, 50)"> --> {{ error }}</span>
			{% endfor %}
			<br>

			{{ form.password.label }} 
			<br> {{ form.password(size=30) }}

			{% for error in form.errors.password %}
				<span style="color: rgb(221, 50, 50)"> --> {{ error }}</span>
			{% endfor %}
			<br>
			{{ form.select.label }}
			<br>
			{{ form.select }}
			<br>
			<p>{{ form.accept_rules }} I accept the terms and conditions without any reservations</p>
			<br>
			{{ form.submit }}
			<!-- {{ form.go }} -->

		</form>
        </div>
{% endblock %}