{% include "header.html" %}

        <div class="container">
		<h1>Login</h1>
        <!-- This is where our form will go. -->
		<form method="POST" action="{{ url_for('login') }}" novalidate>
			{{ form.hidden_tag() }}
			{{ form.name.label }} 
			<br>
			{{ form.name(size=30) }}
			<br>
			{% if form.errors.name %}
				<ul class="errors">
				{% for error in form.errors.name %}
					<li style="color: red;">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<br>

			{{ form.email.label }} 
			<!-- {{ form.email.description}} -->
			<br>
			{{ form.email(size=30) }}
			<br>
			{% if form.errors.email %}
				<ul class="errors">
				{% for error in form.errors.email %}
					<li style="color: red">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<br>

			{{ form.password.label }} 
			<br> {{ form.password(size=30) }}
			<br>
			{% if form.errors.password %}
				<ul class="errors">
				{% for error in form.errors.password %}
					<li style="color: red">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<br>
			{{ form.select.label }}
			<br>
			{{ form.select }}
			<br>
			<p>{{ form.accept_rules }} I accept the terms and conditions without any reservations</p>
			<br>
			{{ form.submit }}
			<!-- {{ form.go }} -->

		</form>
        </div>
	</body>
</html>