{% include "header.html" %}

<h1> Edit Rating for - {{book.title}}</h1>
      <form action="{{ url_for('edit', book_id=book.id)}}" method="POST">
        <input type="hidden" name="id" value="{{book.id}}">
        <label for="title">{{book.title}}</label><br>
        
        <label for="author">{{book.author}}</label><br>

        <label for="rating">Rating:</label><br>
        <input type="text" id="rating" name="rating" value="{{ book.rating }}" placeholder="{{ book.rating }}"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>