@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --primary: #854836;
  --secondary: #FFB22C;
  --tertiary: #F7F7F7;
  --black: #000000;
  --navy: #27445D;
  --teal: #71BBB2;
  --light-teal: rgb(113, 187, 178, 0.2);
  --beige: #ffffff;
  /* --beige: #EFE9D5; */
  
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Tinos", serif;
  font-weight: 300;
  background-color: var(--beige);
  height: 95vh;
}

.container{
  height: fit-content;
  /* background-color: red; */
}

/* navbar */
nav {
  background-color: var(--teal);
  position: sticky; top: 0; z-index: 1000;
  width: 100%;
  border-bottom: 2px solid var(--beige);

}

nav > div  {
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
  color: var(--beige);
  margin: 0 2%;
  padding: 7px;
  
}


.logo img {
  max-width: 70px;
  height: auto;
  border-radius: 50%;
  border: dotted 2px rgb(205, 205, 192);
 }
 .logo span {
   font-size: 1rem;
   letter-spacing: 2px;
   font-weight: 700;
 }
 
 .logo a {
   display: flex;
   gap: 10px;
   align-items: center;
   position: relative;
 
 }
 .navigation {
  width: 30%;
 }
.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;

}


.navigation ul > li:first-child {
  border: dotted 2px rgb(224, 187, 99);
  padding: 12px;
  border-radius: 75px;
  transition: all 0.3s ease; /* Add transition here */
  cursor: pointer;
}

/* Hover effect with scale and color change */
.navigation ul > li:first-child:hover {
  color: black;
  background-color: rgba(205, 205, 192, 0.2); /* Optional glow effect */
  transform: scale(1.35); /* Slight zoom on hover */
  border: none;
  border: dotted 2px rgb(224, 187, 99);
  box-shadow: 0 0 10px rgba(142, 220, 141, 0.5); /* Optional glow effect */
}

nav a {
  text-decoration: none;
  color: var(--beige);
}


.navigation ul li {
  list-style: none;
}

.burger {
  display: none;
}

/* hero */

.hero::before {
  z-index: 0;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom right, var(--teal), #ffffff); */
  color: var(--beige);
  background: var(--teal);
  height: 95vh;
  padding: 2%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  flex: 1;

}

.hero-left > * {
  width: 50%;
}
.hero h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;

}
.hero-right img {
  width: 500px;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
.hero-btn {
  flex-direction: column;
  display: flex;
  /* gap: 20px; */
  justify-content: space-evenly;
  align-items: center;

}
.hero-btn > a {
  border: 1px solid var(--beige);
  border-radius: 25px;
  padding: 15px;
  background-color: var(--teal);
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 10rem;
  text-align: center;
  transition: all 0.3s ease; /* Add transition here */
  cursor: pointer;
}

.hero-btn > a:hover {
  background-color: var(--beige);
  color: var(--teal);
  transition: 0.3s;
  transform: scale(1.05); /* Slight zoom on hover */
}
/* upcoming-events */

.upcoming-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20% 40px;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 20%;
  /* max-width: ; */
}

.hero-image img {
  height: 42rem;
  width: auto;
  padding: 40px; 
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 40px;
}
.lead {
  margin-bottom: 50px;
}


.hero-text a, .form-container > a, .contact-form button {
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color: var(--teal);
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 10rem;
  text-align: center;
}

/* form */

#booking-form {
  display: flex;
  flex-direction: column;
  margin: 0 20% 40px;
  text-align: center;
  align-items: center;

}

.form-container {
  padding: 50px;
  text-align: start;
  border: 1px dashed black;
  border-radius: 25px;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  min-width: 50%;
}

.form-container > div {
  display: flex;
  flex-direction: column ;
  gap: 0.7rem;
  margin-bottom: 1.5rem;
}

.form-container input {
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 80%;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* transition:  0.3s; */
}

.form-container input[type="submit"]{
  background-color: var(--teal);
}
.form-container input:focus{
background-color: var(--teal);

}
/* contact */

#contact {
  display: flex;
  flex-direction: row;
  height: 80vh;
  gap: 20%;
  justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  margin: 0 20% 40px;
  text-align: center;

}

.contact-image {
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 50%;
}

.contact-form > form {
  display: flex;
  flex-direction: column ;
  gap: 0.7rem;
  margin-bottom: 1.5rem;
  padding: 50px;
  text-align: start;
  border: 1px dashed black;
  border-radius: 25px;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  min-width: 50%;
}

.contact-form > form input , .contact-form > form textarea, .contact-form > form button {
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 100%;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* transition:  0.3s; */
}

.contact-form > form input:focus{
background-color: var(--teal);

}
/* footer */

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px 20%; */

}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer ul li{
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: black;
}