<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sri Ganesha Hindu Temple Berlin </title>

</head>
<body>
    <Header>
        <Nav>
            <div>
                <button>
                    <img src="" alt="">
                </button>
            </div>
            <div>
                <img src="{{ url_for('static', filename='assets/logo.png')}}" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            
        </Nav>
    </Header>
    <Main>
        <section>
            <!-- hero slides => 3 images -->
            <h1>Welcome to Ganesh Temple</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </section>
        <section>
            <!-- events   -->
        </section>
        <section>
           <!-- about us -->
        </section>
        <section>
        <!-- reviews -->
        </section>
    </Main>
    <Footer>
        <p>&copy; 2020 Ganesh Temple</p>
    </Footer>
    
</body>
</html>