<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dee</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to {{message.name}}'s Application</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni illo consectetur eveniet error fugit, quasi necessitatibus cupiditate sit voluptatibus dicta debitis suscipit repellendus aspernatur vel harum, magnam id exercitationem ratione!</p>
    <footer>
        &copy; {{year}} S&D Inc
        <a href="{{message.url}}" target="_blank">{{message.name}}</a>
    </footer>
</body>
</html>