<!-- booking form -->
<div id="booking-form">

    <div class="px-4 py-5 my-5 text-center" bis_skin_checked="1">
      <img class="d-block mx-auto mb-4" src="./assets/img/logo.png" alt="" width="100" height="auto">
      <h1 class="display-5 fw-bold text-body-emphasis">New Booking</h1>
      <div class="col-lg-6 mx-auto" bis_skin_checked="1">
        <p class="lead mb-4">Quickly make a new booking with us.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          
       </div>
      </div>
    </div>

    <form class="form-container">

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div> 
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number">
      </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Pickup Address</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="FROM">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Drop Address</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="TO">
    </div>
    <div class="mb-3">
    <label for="startDate">Booking Date</label>
    <input id="startDate" class="form-control" type="date" name="date"/>
    </div> 

    <a type="submit" class="btn btn-primary btn-lg px-4 gap-3">Book Now</a>
  </form>
   </div>