{% include 'header.html' %}
{% include 'navbar.html' %}

    <div class="container">
      
      <div class="main">

        <!-- <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" bis_skin_checked="1">
          <div class="carousel-indicators" bis_skin_checked="1">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
          </div>
          <div class="carousel-inner" bis_skin_checked="1">
            <div class="carousel-item active" bis_skin_checked="1">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container" bis_skin_checked="1">
                <div class="carousel-caption text-start" bis_skin_checked="1">
                  <h1>عنوان المثال.</h1>
                  <p class="opacity-75">تشير الدراسات الإحصائية حسب الجمعية الأمريكية للغات بأن الإقبال على العربية زاد %126 في الولايات المتحدة الأمريكية وحدها بين عامي 2002 و2009م.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">سجل اليوم</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item" bis_skin_checked="1">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container" bis_skin_checked="1">
                <div class="carousel-caption" bis_skin_checked="1">
                  <h1>عنوان مثال آخر.</h1>
                  <p>حسب المجلس الثقافي البريطاني فإن تعليم الإنجليزية داخل بريطانيا يسهم في تعزيز اقتصادها بما يتجاوز ملياري جنيه سنوياً، كما أنه وفر أكثر من 26 ألف وظيفة.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">أعرف أكثر</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item" bis_skin_checked="1">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
              <div class="container" bis_skin_checked="1">
                <div class="carousel-caption text-end" bis_skin_checked="1">
                  <h1>واحد أكثر لقياس جيد.</h1>
                  <p>الإحصاءات لحجم الاستثمار اللغوي خارج بريطانيا تتفاوت من سنة لأخرى إلا أن المدير التنفيذي للمجلس الثقافي البريطاني إدي بايرز يرى أن استثمار تعليم الإنجليزية في الخارج لا يحسب على المستوى المالي فحسب بل على المستوى السياسي أيضاً.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">تصفح المعرض</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">السابق</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">التالي</span>
          </button>
        </div> -->

        <!-- hero section -->
        <div class="container col-xxl-8 px-4 py-5" bis_skin_checked="1">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5" bis_skin_checked="1">
            <div class="col-10 col-sm-8 col-lg-6" bis_skin_checked="1">
              <img src="{{ url_for('static', filename='assets/img/hero-1.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6" bis_skin_checked="1">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">SN Tours & Travels</h1>
              <p class="lead">SN Tours is a trusted cab service in Orai, offering safe, reliable, and affordable transportation. Whether you need local rides, outstation trips, or airport transfers, our well-maintained cars and professional drivers ensure a comfortable journey. Book with SN Tours for a hassle-free travel experience anytime, anywhere in Orai.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
              </div>
            </div>
          </div>
        </div>
         <!-- booking form -->

         <div id="booking-form">

          <div class="px-4 py-5 my-5 text-center" bis_skin_checked="1">
            <img class="d-block mx-auto mb-4" src="./assets/img/logo.png" alt="" width="100" height="auto">
            <h1 class="display-5 fw-bold text-body-emphasis">New Booking</h1>
            <div class="col-lg-6 mx-auto" bis_skin_checked="1">
              <p class="lead mb-4">Quickly make a new booking with us.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" bis_skin_checked="1">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Book Now</button>
             </div>
            </div>
          </div>

          <div class="form-container">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Pickup Address</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="FROM">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Drop Address</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="TO">
          </div>

          <label for="startDate">Booking Date</label>
          <input id="startDate" class="form-control" type="date" name="date"/>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <input type="submit" value="submit">
        </div>
         </div>


      </div>
    </div>
{% include 'footer.html' %}