<div class="hero">
    <div class="hero-left" bis_skin_checked="1">
      <img class="" src="./assets/img/m-logo-bg.png" alt="" width="100" height="auto">
      <h1 class="">Join <br> <span>The Hikers Club</span></h1>
        <p class="">Discover, connect, and hike with nature-lovers around the world.
          Join a global community of hikers who love to explore, just like you.</p>
        <div class="hero-btn">
          <a href="{{url_for('create_event')}}" class="btn btn-primary btn-lg px-4 gap-3">Create New Hike</a> 
          <br>
          <a href="{{url_for('show_events')}}" class="btn btn-primary btn-lg px-4 gap-3">Connect & Explore</a>
        </div>
      </div>   
    <div class="hero-right">
      <div class="carousel">
      <img class="carousel-img active" src="../static/assets/img/group-trips-group-travel-friend-travel-girls-travel-roamfreeretreats-7-scaled.webp" alt="hero image">
      <img class="carousel-img top" src="../static/assets/img/Hiking-Group-Dynamics-And-Leadership_-17-Tips-For-Achievement-104940208.jpg" alt="hero image">
      <img class="carousel-img bottom" src="../static/assets/img/guided-hike_h.avif" alt="hero image">
    </div>
  </div>
  </div>