{% include 'header.html' %} 
{% include 'navbar.html' %}
<!-- hero section -->

<div class="container">
  
  {% include 'hero.html' %}
  <div class="upcoming-events">
    <hr>
    <h2 class="border-bottom">Upcoming Events</h2>
    <p>Join upcoming events in your city</p>
    <!-- dropdown with city search -->
    <div class="row">
      {% if events|length > 0 %}
      {% for event in events %}
      <div class="" bis_skin_checked="1">
        <div class="" bis_skin_checked="1">
          <div class="" bis_skin_checked="1">
            <h4 class="">{{ event.title }}</h4>
            <span><img src="https://picsum.photos/id/237/200/300" alt="cover-image"></span>
          </div>
          <div class="" bis_skin_checked="1">
            <h1 class="">{{ event.date }}<small class="text-body-secondary fw-light"></small></h1>
            <ul class="">
              <li>{{ event.description }}</li>
              <li>Location: {{ event.location }}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Join Now</button>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      No events available at the moment.
      {% endif %}

      
    </div>
    <a href="{{url_for('show_events')}}">show more</a>
  </div>


</div>
{% include 'footer.html' %}


