<nav>
  <div class="container">
    <div class="logo">
      <a href="{{url_for('home')}}">
        <img src="../static/assets/img/mountain-logo-bg.png" alt="icon" />
        <span>THC - The Hikers Club</span>
      </a>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="{{ url_for('create_event') }}">+ New Event</a></li>
        <li><a href="{{ url_for('show_events') }}">Upcoming Events</a></li>
        <li><i class="fa-solid fa-user"></i></li>
      </ul>
    </div>
    <div class="burger">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa-solid fa-burger"></i>
      <span>&equiv;</span>
    </div>
  </div>
</nav>