<nav>
  <div class="container">
    <div class="logo">
      <a href="{{url_for('home')}}">
        <img src="../static/assets/img/m-logo-bg.png" alt="icon" />
        <span>The <br> Hikers <br>Club</span>
      </a>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="{{ url_for('create_event') }}">+ Create</a></li>
        <li><a href="{{ url_for('show_events') }}">Join Us</a></li>
        <li><a href="{{ url_for('show_events') }}">Support</a></li>
        <li><i class="fa-solid fa-user"></i></li>
      </ul>
    </div>
    <div class="burger">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa-solid fa-burger"></i>
      <span>&equiv;</span>
    </div>
  </div>
</nav>