
:root{
  --primary: #854836;
  --secondary: #FFB22C;
  --tertiary: #F7F7F7;
  --black: #000000;

  
}

body {
    font-family: "Lato", sans-serif;
    /* background-color: var(--primary); */
  }
  

#logo {
 width: 50px;
 height: auto;
}

nav {
  position: absolute;
  margin-bottom: 100px;
}

.form-container{
  max-width: 50%;
  align-self: center;
  margin-left: 30%;
}